# Notebook for EE Pre-Project Research
#### CUBEMs Data Loading and Data Analysis
By Patcharanat P. Student ID 6230348821

For Energy Consumption Analytics: https://nbviewer.org/github/mpipatta/mpipatta.github.io/blob/master/CHAM5.ipynb

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import json
from datetime import datetime

In [3]:
file = open('data.json')
data_json = json.load(file)
# data = pd.DataFrame(data_json)
data_json

{'@type': 'Dataset',
 'identifier': '10.1038/s41597-020-00582-3',
 'title': 'Metadata record for: CU-BEMS, smart building electricity consumption and indoor environmental sensor datasets',
 'relatedPublications': [],
 'repositories': [{'name': 'figshare',
   'value': 'https://doi.org/10.6084/m9.figshare.11726517.v6',
   '@type': 'DataCatalog'}],
 'assays': [{'measurementType': {'annotationValue': 'electrical energy',
    'termAccession': 'http://purl.bioontology.org/ontology/npo#NPO_1748',
    'termSource': 'NPO',
    '@type': 'PropertyValue'},
   'technologyType': {'annotationValue': 'Gauge or Meter Device',
    'termAccession': 'http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C50052',
    'termSource': 'NCIT',
    '@type': 'PropertyValue'},
   '@type': 'variableMeasured'},
  {'measurementType': {'annotationValue': 'temperature of air',
    'termAccession': 'http://purl.obolibrary.org/obo/ENVO_09200001',
    'termSource': 'ENVO',
    '@type': 'PropertyValue'},
   'technologyType': {'annotationValue': 'Sensor Device',
    'termAccession': 'http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C50166',
    'termSource': 'NCIT',
    '@type': 'PropertyValue'},
   '@type': 'variableMeasured'},
  {'measurementType': {'annotationValue': 'humidity',
    'termAccession': 'http://purl.obolibrary.org/obo/PATO_0015009',
    'termSource': 'ENVO',
    '@type': 'PropertyValue'},
   'technologyType': {'annotationValue': 'Sensor Device',
    'termAccession': 'http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C50166',
    'termSource': 'NCIT',
    '@type': 'PropertyValue'},
   '@type': 'variableMeasured'},
  {'measurementType': {'annotationValue': 'visible spectrum radiation',
    'termAccession': 'http://purl.obolibrary.org/obo/ENVO_21001215',
    'termSource': 'ENVO',
    '@type': 'PropertyValue'},
   'technologyType': {'annotationValue': 'Sensor Device',
    'termAccession': 'http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C50166',
    'termSource': 'NCIT',
    '@type': 'PropertyValue'},
   '@type': 'variableMeasured'}],
 'factors': [{'name': 'floor',
   'type': {'annotationValue': 'building floor',
    'termAccession': 'http://purl.obolibrary.org/obo/ENVO_01000486',
    'termSource': 'ENVO',
    '@type': 'PropertyValue'},
   '@type': 'variableMeasured'},
  {'name': 'date/time',
   'type': {'annotationValue': 'temporal_interval',
    'termAccession': 'http://www.ifomis.org/bfo/1.1/span#TemporalInterval',
    'termSource': 'NPO',
    '@type': 'PropertyValue'},
   '@type': 'variableMeasured'}],
 'studyCharacteristics': {'organism': [],
  'environmentType': [{'annotationValue': 'building',
    'termAccession': 'http://purl.obolibrary.org/obo/ENVO_00000073',
    'termSource': 'ENVO',
    '@type': 'PropertyValue'}],
  'geographicalLocation': [],
  '@type': 'variableMeasured'},
 'ontologySourceReferences': {'ENVO': {'name': 'ENVO',
   'description': 'Environment Ontology',
   'file': 'http://data.bioontology.org/ontologies/ENVO',
   'version': None,
   '@type': 'DefinedTermSet'},
  'NPO': {'name': 'NPO',
   'description': 'NanoParticle Ontology',
   'file': 'http://data.bioontology.org/ontologies/NPO',
   'version': '2011-12-08 (yyyy-mm-dd)',
   '@type': 'DefinedTermSet'},
  'NCIT': {'name': 'NCIT',
   'description': 'National Cancer Institute Thesaurus',
   'file': 'http://data.bioontology.org/ontologies/NCIT',
   'version': '20.01d',
   '@type': 'DefinedTermSet'},
  '@type': 'CategoryCodeSet'},
 'comments': [{'name': 'Created With Configuration',
   'value': '1.0',
   '@type': 'SoftwareApplication'},
  {'name': 'Data Descriptor License',
   'value': 'CC-BY-4.0',
   '@type': 'CreativeWork'}]}

In [4]:
date_format = lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S")

df = pd.read_csv('dataset/2018Floor3.csv',
                 parse_dates=['Date'],
                date_parser=date_format)

df.head(10)

,Date,z1_AC1(kW),z1_AC2(kW),z1_AC3(kW),z1_AC4(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),z1_S1(lux),...,z4_Plug(kW),z4_S1(degC),z4_S1(RH%),z4_S1(lux),z5_AC1(kW),z5_Light(kW),z5_Plug(kW),z5_S1(degC),z5_S1(RH%),z5_S1(lux)
0,2018-07-01 00:00:00,0.0,0.0,0.0,0.07,0.0,0.03,28.44,60.67,0.0,...,0.02,27.69,65.66,0.0,0.0,0.0,0.02,26.88,71.16,0.0
1,2018-07-01 00:01:00,0.0,0.0,0.0,0.07,0.0,0.03,28.44,60.67,0.0,...,0.02,27.69,65.65,0.0,0.0,0.0,0.02,26.88,71.16,0.0
2,2018-07-01 00:02:00,0.0,0.0,0.0,0.07,0.0,0.03,28.45,60.67,0.0,...,0.02,27.69,65.63,0.0,0.0,0.0,0.02,26.88,71.18,0.0
3,2018-07-01 00:03:00,0.0,0.0,0.0,0.07,0.0,0.03,28.45,60.66,0.0,...,0.02,NaN,NaN,NaN,0.0,0.0,0.02,26.88,71.19,0.0
4,2018-07-01 00:04:00,0.0,0.0,0.0,0.07,0.0,0.03,28.45,60.66,0.0,...,0.02,NaN,NaN,NaN,0.0,0.0,0.02,26.88,71.21,0.0
5,2018-07-01 00:05:00,0.0,0.0,0.0,0.07,0.0,0.03,28.45,60.65,0.0,...,0.02,27.66,65.54,0.0,0.0,0.0,0.02,26.88,71.22,0.0
6,2018-07-01 00:06:00,0.0,0.0,0.0,0.07,0.0,0.03,28.45,60.65,0.0,...,0.02,27.66,65.54,0.0,0.0,0.0,0.02,26.88,71.22,0.0
7,2018-07-01 00:07:00,0.0,0.0,0.0,0.07,0.0,0.03,28.46,60.65,0.0,...,0.02,27.66,65.55,0.0,0.0,0.0,0.02,26.88,71.23,0.0
8,2018-07-01 00:08:00,0.0,0.0,0.0,0.07,0.0,0.03,28.46,60.64,0.0,...,0.02,27.66,65.55,0.0,0.0,0.0,0.02,26.88,71.22,0.0
9,2018-07-01 00:09:00,0.0,0.0,0.0,0.07,0.0,0.03,28.47,60.63,0.0,...,0.02,27.66,65.56,0.0,0.0,0.0,0.02,26.88,71.21,0.0

In [5]:
df2 = pd.read_csv('dataset/2018Floor1.csv',
                 parse_dates=['Date'],
                date_parser=date_format)

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264960 entries, 0 to 264959
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          264960 non-null  datetime64[ns]
 1   z1_Light(kW)  263499 non-null  float64
 2   z1_Plug(kW)   264474 non-null  float64
 3   z2_AC1(kW)    263442 non-null  float64
 4   z2_AC2(kW)    263503 non-null  float64
 5   z2_AC3(kW)    263503 non-null  float64
 6   z2_AC4(kW)    263503 non-null  float64
 7   z2_Light(kW)  263526 non-null  float64
 8   z2_Plug(kW)   235125 non-null  float64
 9   z3_Light(kW)  264446 non-null  float64
 10  z3_Plug(kW)   263503 non-null  float64
 11  z4_Light(kW)  264445 non-null  float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 24.3 MB

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264960 entries, 0 to 264959
Data columns (total 30 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          264960 non-null  datetime64[ns]
 1   z1_AC1(kW)    197931 non-null  float64
 2   z1_AC2(kW)    197931 non-null  float64
 3   z1_AC3(kW)    197931 non-null  float64
 4   z1_AC4(kW)    205333 non-null  float64
 5   z1_Light(kW)  205717 non-null  float64
 6   z1_Plug(kW)   205782 non-null  float64
 7   z1_S1(degC)   101340 non-null  float64
 8   z1_S1(RH%)    101340 non-null  float64
 9   z1_S1(lux)    101340 non-null  float64
 10  z2_AC1(kW)    205338 non-null  float64
 11  z2_Light(kW)  205486 non-null  float64
 12  z2_Plug(kW)   205794 non-null  float64
 13  z2_S1(degC)   101895 non-null  float64
 14  z2_S1(RH%)    101895 non-null  float64
 15  z2_S1(lux)    101895 non-null  float64
 16  z3_Light(kW)  205751 non-null  float64
 17  z3_Plug(kW)   205744 non-null  float64
 18  z4_AC1(kW)    205334 non-null  float64
 19  z4_Light(kW)  205202 non-null  float64
 20  z4_Plug(kW)   205510 non-null  float64
 21  z4_S1(degC)   100449 non-null  float64
 22  z4_S1(RH%)    100449 non-null  float64
 23  z4_S1(lux)    100449 non-null  float64
 24  z5_AC1(kW)    205334 non-null  float64
 25  z5_Light(kW)  205202 non-null  float64
 26  z5_Plug(kW)   205734 non-null  float64
 27  z5_S1(degC)   70240 non-null   float64
 28  z5_S1(RH%)    70240 non-null   float64
 29  z5_S1(lux)    70240 non-null   float64
dtypes: datetime64[ns](1), float64(29)
memory usage: 60.6 MB

In [8]:
df.isnull().sum()

Date                 0
z1_AC1(kW)       67029
z1_AC2(kW)       67029
z1_AC3(kW)       67029
z1_AC4(kW)       59627
z1_Light(kW)     59243
z1_Plug(kW)      59178
z1_S1(degC)     163620
z1_S1(RH%)      163620
z1_S1(lux)      163620
z2_AC1(kW)       59622
z2_Light(kW)     59474
z2_Plug(kW)      59166
z2_S1(degC)     163065
z2_S1(RH%)      163065
z2_S1(lux)      163065
z3_Light(kW)     59209
z3_Plug(kW)      59216
z4_AC1(kW)       59626
z4_Light(kW)     59758
z4_Plug(kW)      59450
z4_S1(degC)     164511
z4_S1(RH%)      164511
z4_S1(lux)      164511
z5_AC1(kW)       59626
z5_Light(kW)     59758
z5_Plug(kW)      59226
z5_S1(degC)     194720
z5_S1(RH%)      194720
z5_S1(lux)      194720
dtype: int64

# Model Development

## Pre-processing

### Feature Engineering

### Time Series Train Test Split

In [9]:
# train_test_split function shouldn't be applied in Time Series forecasting
X_train =  
y_train =

SyntaxError: invalid syntax (2153378544.py, line 2)

## Modeling

In this case, I'm not sure about the best model to predict energy comsumption. So, I will test several models and select the best model considered by a proper accuracy.

In [ ]:
# Gradient Boosting
import xgboost as xgb
from sklearn.metrics import mean_squared_error

reg = xgb.XGBRegressor() # Tune Hyperparameters

# finding the best parameters by GridSearchCV
from sklearn.model_selection import GridSearchCV

param_grid = {
    
}

grid = GridSearchCV(reg, param_grid=param_grid)
grid.fit(X_train, y_train)

best_estimator = grid.best_estimator_

best_estimator.fit(X_train, y_train)

reg.fit(X_train, y_train) # fit with train dataset

### Feature Importance

In [ ]:
feature_important = pd.DataFrame(
    data=reg.feature_importances_,
    index=reg.feature_names_in_,
    columns=['importance']
)
feature_important.sort_values('importance').plot(kind='barh', title='Feature Importance')
plt.show()

## Testing Model